header {
    padding: 15px;
    background: #5F5F5F;
}
.result{
    width: 15px;
    padding: 25px
}
.floatRight{
    display: none;
}
ul li {
    display:inline;
}
.ulli li{
    display:inline;
    margin-right:30px;
    cursor:pointer;
    float: right;
    position: relative;
    bottom: 10px;
}
#news{
    height:700px;
    overflow-y: scroll;
}
.form{
    margin-left:450px;
}
input[name=email]{
    margin-left:43px;
}
input[name=last]{
    margin-left: 22px;
}
input[name=password]{
    margin-left:18px;
}
input{
    margin: 15px;
}

section {
    padding: 100px;
    background: #9BFFF0;
}
table{
    margin: auto;
    border-collapse: collapse;
}
footer {
    padding: 10px;
    background: darkturquoise;
}

#error {
    background: darkred;
    font-size: 23px;
    font-family: Verdana;
    padding: 15px;
}
.menu{
 display: inline;
    font-family: Verdana;
    padding: 11px;
    cursor: pointer;
}
 a{
    color:darkorange;
    text-decoration: none;
}

 a:active{
    color:white;
}
.menu:hover{
    background: aqua;
}
aside{
    float: right;
   position: relative;
    bottom:35px;
    left: 80px;
}
aside li{
    display: block;

    font-family:Verdana;
    font-size: 18px;
    padding: 10px;

}
aside a {
    color: #435c70;
}
aside li:hover{
    background: darkorange;;
}
td a{
    color:black;
}



















