header {
    padding: 50px;
    background: darkcyan;
}
.result{
    width: 15px;
    padding: 25px
}
section {
    padding: 50px;
    background: silver;
}

footer {
    padding: 50px;
    background: darkturquoise;
}

#error {
    background: darkred;
    font-size: 23px;
    font-family: Verdana;
    padding: 15px;
}
.menu{
 display: inline;
    font-family: Verdana;
    padding: 11px;
    cursor: pointer;

}
.menu a{
    color:darkorange;
}
.menu a {
    text-decoration: none;
}
.menu a:active{
    color:white;
}
.menu a:default{
    text-decoration: none;
}